<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feri.dao.ScheduleMapper">
  <resultMap id="BaseResultMap" type="com.feri.domain.Schedule">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gid" jdbcType="INTEGER" property="gid" />
    <result column="sno" jdbcType="VARCHAR" property="sno" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="createdate" jdbcType="DATE" property="createdate" />
    <result column="enddate" jdbcType="DATE" property="enddate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gid, sno, flag, type, createdate, enddate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_schedule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_schedule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.feri.domain.Schedule">
    insert into t_schedule (id, gid, sno, 
      flag, type, createdate, 
      enddate)
    values (#{id,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}, #{sno,jdbcType=VARCHAR}, 
      #{flag,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{createdate,jdbcType=DATE}, 
      #{enddate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.feri.domain.Schedule">
    insert into t_schedule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gid != null">
        gid,
      </if>
      <if test="sno != null">
        sno,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createdate != null">
        createdate,
      </if>
      <if test="enddate != null">
        enddate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="sno != null">
        #{sno,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=DATE},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.feri.domain.Schedule">
    update t_schedule
    <set>
      <if test="gid != null">
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="sno != null">
        sno = #{sno,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        createdate = #{createdate,jdbcType=DATE},
      </if>
      <if test="enddate != null">
        enddate = #{enddate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feri.domain.Schedule">
    update t_schedule
    set gid = #{gid,jdbcType=INTEGER},
      sno = #{sno,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      createdate = #{createdate,jdbcType=DATE},
      enddate = #{enddate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>