<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
    <!--1、扫描-->
    <!--<bean id="myRealm" class="com.qfedu.web.shiro.MyRealm"></bean>-->
    <context:component-scan base-package="com.feri.web.webservice"></context:component-scan>

    <!--发布Web服务 基于CXF
    属性说明：
    id:
    implementor:要发布接口的实现类
    address:访问路径
    -->
    <jaxws:endpoint id="wsEndPoint" implementor="com.feri.web.webservice.ThreeLoginServiceImpl"
                   address="/cxf/login">
    </jaxws:endpoint>
    <!--<jaxws:endpoint id="wsEndPoint2" implementor="com.feri.web.webservice.LogListServiceImpl"-->
                    <!--address="/cxf/log" >-->

    <!--</jaxws:endpoint>-->
</beans>