<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feri.dao.UserMapper">

	<select id="queryByNo" resultType="User">
		select * from t_user where
		flag=1 and no=#{no}
	</select>
	<update id="updatePwd">
		update t_user set password=#{pass} where no=#{no} and flag=1
	</update>
</mapper>